<html>
    <head>
        <title>
            <%= title %>
        
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>
    <body>
      <section id="header-link">
        <%- include('_header'); %>
      </section>
       

      <main id="layout-main">
        <%- body %>
      </main>
        
        <%- include('_footer'); %>
        <!-- <script src="../static/js/"></script> -->
    </body>
</html>